/* body{
    background-color: rgb(111, 14, 14);
} */
 /* .col-md-6{
    margin-left: 30px;
    width: 44%;
 } */
 /* #cv-form{
    display: none;
 } */
 #cv-template{
   display: none;
 }
 .myimg{
    border-radius: 50%;
    width: 200px;
 }
 .background{
    background-color: aqua;
 }